<div class="contact">
  <div class="container">  
    <div class="main">
      <h1>Get the latest updates from Stories</h1>
      <%= form_for(@new_signup) do |f| %>
        First name</br>
        <%= f.text_field :firstname, :placeholder => 
        'name' %> </br>
        Email </br>
        <%= f.text_field :email, :placeholder => 
        'email' %> </br> </br>
        <%= f.submit "Join", :class => 'btn-main'%>
      <% end %>
    </div>
  </div>
</div>