<div class="header">
  <div class="container">
    <div class='nav' id="menu">
      <ul>
        <li><a href="#">Menu Item 1</a></li>
      </ul>
    </div>
  </div>
  <div id="button">
      Menu
  </div>
</div>

<div id='right'>
  <div class="home">
    <div class="container">  
      <div class="main">
        <h1>Create and share Stories</h1>
        <a class="btn-main" href='#'>Learn More</a>
      </div>
    </div>
  </div>

  <div class="supporting">
    <div class="container">
      <h2>Relive and share your adventures</h2>
      <p>Stories automatically creates a digital journal filled with only your best photos.</p>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="secondary">
    <div class="container">  
      <div class="main">
      </div>
    </div>
  </div>

  <div class="supporting">
    <div class="container">
      <h2>Discover Stories</h2>
      <a class="btn-default" href="#">Learn more</a>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="footer">
    <div class="container">
      <p>&copy; Lawrence Lin 2021</p>
    </div>
  </div>
</div>