<div class="about">
  <div class="container">  
    <div class="main">
      <h1>Relive your favourite memories</h1>
    </div>
  </div>
</div>

<div class="supporting">
  <div class="container">
    <h2>No more sorting through photos</h2>
    <p>Stories automatically finds your best photos and creates a new travelogue. This way you can capture and share your special moments in fresh new ways.</p>
    <a class="btn-default" href="/contact">Signup</a>
  </div>
  <div class="clearfix"></div>
</div>